.header {
    background: #000;
}

.header__inner {
    padding: 20px 50px;
}

@media screen and (max-width: 768px) {
    .header__inner {
        padding: 20px 0px;
    }
}

.header-utilities {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-utilities__img {
    width: 40%;
}
@media screen and (max-width: 768px) {
.header-utilities__img {
        width: 30%;
    }
        .header-utilities__img img{
            width: 100%;
        }
}
.header-utilities__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-utilities__item a{
    padding-right: 25px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.header-utilities__item a:hover {  
    color: rgb(189, 187, 187);
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}
.header-nav__button:hover {
    color: rgb(243, 171, 171);  
}

.header-nav__link {
    padding: 5px 15px;
    color: #000;
    text-decoration: none;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 3px;

}